@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

.wf-nicomoji { font-family: "Nico Moji"; }
.wf-mplus1p { font-family: "M PLUS 1p"; }
.wf-notosansjapanese { font-family: "Noto Sans JP"; }

a {
  color: #caabab;
  word-wrap: break-word;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}
a:hover, a:focus {
  opacity: 0.5;
  text-decoration: none;
  outline: 0;
  color: gainsboro;
}
a:before, a:after {
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}

body {
  background-color: #232323;
  background-image: url("../img/dd_dog.JPG");
  background-size: contain;
  font-family: 'Montserrat', "Noto Sans JP";
  font-weight: 400;
  font-size: 14px;
  color:#ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  position: relative;
  margin: 0px;
}

main-top {
  width: 70%;
  float: right;
  margin-left: 30%;
}

header .title a, side-menu .side-menu a{
  color: #ffffff;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}

.section-wrapper {
	width:100%;
    /* display: inline-block; */

}
.section, .work{
	border: 1px solid #ffffff;
	margin: 30px;
    padding: 30px;
    background-color: #3e3e3ee6;
}

.work .content img {
	width:100%;
}

.title {
	margin-top:60px;
	text-align: center;
	font-size: 30px;
}

.content {
	margin-left: 40px;
}

.content a i {
  margin-left: 5px;
}

.profile {
	display: inline-flex;
}

.profile img {
	width:100%;
	max-width: 350px;
  object-fit: contain;
}

.profile .right-contents {
  margin-left: 35px;
}

.works {
	position: relative;
	text-align:center;
	font-size: 5vh;
}

.works .works-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: #fff;
  font-weight: bold;
}

.works img{
	width: 100%;
}

.work-wrapper {
	width: 24.3%;
  display: inline-block;
  text-align: left;
	border:1px solid #ffffff;
	margin: 20px 30px;
	padding:20px 30px;
	background-color: #3e3e3ee6;
}

.work-wrapper img {
	width:100%;
	max-height: 204px;
	object-fit: scale-down;
}

.sns-link {
	font-size: 20px;
	margin:5px 0 0 5px;
}

.bg_scroll {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/dd_dog.JPG);
    background-position: 0px 0px;
    background-size: cover;
}


side-menu {
  width: 27%;
float: left;
background-color: black;
opacity: 0.7;
margin-left: 30px;
position: fixed;
margin-top: 29px;
}

side-menu .side-menu {
  margin: 10px 10px 60px 10px;
  text-align: center;
}

side-menu .side-menu .item {
  margin-top: 26px;
font-size: 17px;
}


footer {
	text-align: center;
	margin-bottom: 10px;
}

@media screen and (max-width: 500px){
	body {
		text-align:center;
		background-color: #232323;
  		background-image: url("../img/dd_dog.JPG");
  		background-size: contain;
  		font-family: 'Montserrat', "Noto Sans JP";
  		font-weight: 400;
  		font-size: 14px;
  		color:#ffffff;
  		-webkit-font-smoothing: antialiased;
  		-webkit-overflow-scrolling: touch;
  		position: relative;
  		margin: 0px;
	}

  main-top {
    width: 100%;
    /* float: right;
    margin-left: 30%; */
  }

	body .title {
		margin-bottom: 2em;
	}

	.section-wrapper {
    	width: 100%;
    	display: block;
	}

	.section {
		margin: 10px 10px;
		padding:20px 20px;
	}

	.content {
		margin-left: 0px;
	}

  .profile {
    display: block;
  }

  .profile .right-contents {
    margin-left: 0px;
  }

	.work-wrapper {
		width: 81%;
		/*max-width: 300px;*/
		display: -webkit-inline-box;
		border:1px solid #ffffff;
		margin: 10px 10px;
		padding:20px 20px;
		background-color: #3e3e3ee6;
	}

	.carousel {
		width: 100%;
		float: left;
		margin: auto;
	}

	.carousel img {
		object-fit: scale-down;
		max-height: 200px;
		margin: 10px;
	}

	.modalContents iframe {
		width:100%;
	}

  .modalContents a {
    color: darkorchid;
  }

	.openModal{
		width:100%;
	}

  side-menu {
    display: none;
  }
}


/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalArea img#width3{
	width:30%;
}

.modalArea img#width5{
	width:50%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  max-width: 900px;
  padding: 10px;
  background-color: #969696;
  height : 90%; /*お好みの高さで固定*/
  overflow : auto; /*状況に応じて縦スクロールバーが出現*/
}

.modalContents{
	padding:10px 10px 30px 10px;
}

.modalContents h1{
	margin-bottom:2em;
}

.modalContents a {
  color: darkorchid;
}

.modalContents .movie {
	text-align: center;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  font-size:2rem;
}


/* 以下ボタンスタイル */
button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}

.openModal {
  font-weight:bold;
  margin-bottom:10px;
  color: #caabab;
  word-wrap: break-word;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}
.openModal:hover, .openModal:focus {
  opacity: 0.5;
  text-decoration: none;
  outline: 0;
  color: gainsboro;
}
.openModal:before, .openModal:after {
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}

.ero-button {
	top:0px;
	position: absolute;
	border: none;
	opacity: 0.1;
}

.carousel-wrapper {
	width: 100%;
	display: flex;
}

.styly-wrapper {
  width: 100%;
  text-align: center;
  margin:30px 0px;
}

.styly-wrapper iframe {
  width: 1280px;
  height:720px;
}

@media screen and (min-width: 500px){
	/*カルーセル用*/
	/*左右の矢印の色を変える*/
	.carousel {
		width:80%;
		float:left;
		padding: 20px;
		margin: auto;
	}

	.carousel img {
		object-fit: scale-down;
		max-height: 400px;
		margin: 10px;
	}
}


.carousel .caption {
	text-align: center;
}
.slick-prev:before,
.slick-next:before {
    color: #000;
}
.slick-next {
    right: 40px;
    z-index: 99;
}
.slick-prev {
     left: 40px;
    z-index: 100;
}

.slide .slick-slide {
	opacity: 0.5;
	transition: 0.5s;
}
.slide .slick-now {
	opacity: 1;
}
