@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

.wf-nicomoji { font-family: "Nico Moji"; }
.wf-mplus1p { font-family: "M PLUS 1p"; }
.wf-notosansjapanese { font-family: "Noto Sans JP"; }

a {
  color: #caabab;
  word-wrap: break-word;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}
a:hover, a:focus {
  opacity: 0.5;
  text-decoration: none;
  outline: 0;
  color: gainsboro;
}
a:before, a:after {
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}

body {
  background-color: #232323;
  background-image: url("../img/dd_dog.JPG");
  background-size: contain;
  font-family: 'Montserrat', "Noto Sans JP";
  font-weight: 400;
  font-size: 14px;
  /*color: gainsboro;*/
  color:#ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  position: relative;
  /*top: 80px;*/
}

body {
	margin: 0px;
}

.section-wrapper {
	width:49%;
    display: inline-grid;
    
}
.section, .work{
	border: 1px solid #ffffff;	
	margin: 30px;
    padding: 30px;
    background-color: #3e3e3ee6;
}

.work .content img {
	width:100%;
}

.title {
	margin-top:60px;
	text-align: center;
	font-size: 30px;
}

.content {
	margin-left: 20px;
}

.profile {
	/*display: table-caption;*/
}

.profile img {
	width:100%;
}

.works {
	position: relative;
	text-align:center;
	font-size: 5vh;
}

.works .works-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.works img{
	width: 100%;
}

.work-wrapper {
	width: 24.3%;
    display: inline-grid;
	border:1px solid #ffffff;
	margin: 20px 30px;
	padding:20px 30px;
	background-color: #3e3e3ee6;
}

.work-wrapper img {
	width:100%;
	max-height: 204px;
	object-fit: scale-down;
}

.sns-link {
	font-size: 20px;
	margin:5px 0 0 5px;
}

.bg_scroll {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/dd_dog.JPG);
    background-position: 0px 0px;
    background-size: cover;
}

footer {
	text-align: center;
	margin-bottom: 10px;
}

@media screen and (max-width: 500px){
	.section-wrapper {
    	width: 100%;
    	display: block;
	}

	.work-wrapper {
		width: 100%;
		max-width:300px;
    	display: block;
		border:1px solid #ffffff;
		margin: 20px 30px;
		padding:20px 30px;
		background-color: #3e3e3ee6;
	}
}







/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalArea img#width3{
	width:30%;
}

.modalArea img#width5{
	width:50%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 80%;
  max-width: 900px;
  padding: 10px 30px 30px 30px;
  background-color: #969696;
  height : 50%; /*お好みの高さで固定*/
  overflow : auto; /*状況に応じて縦スクロールバーが出現*/
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}


/* 以下ボタンスタイル */
button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}

.openModal {
  font-weight:bold;
  margin-bottom:10px;
  color: #caabab;
  word-wrap: break-word;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}
.openModal:hover, .openModal:focus {
  opacity: 0.5;
  text-decoration: none;
  outline: 0;
  color: gainsboro;
}
.openModal:before, .openModal:after {
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}